/*=======================================*/
/*           PRINTING RECEIPT            */
/*=======================================*/

/* Page Box Styles */
/*Printed page (@page)*/
@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

html {
    background-color: #ffffff;
    overflow: visible !important;
}

main {
    padding: 0;
    background: none;
}

* {
    color: #000;
}

header, footer, div#searchContainer,
section#spacer,
section#paymentCard h3,
section#paymentCard div#paymentStep {
    display: none;
}

div.receipt {
    display: flex !important;
}

    div.receipt h4.formPageTitle,
    div.receipt p.paymentComplete_comment,
    div.receipt .accessCourseButton,
    div.receipt div.paymentComplete_btn
    div.paymentComplete_receiptDetails h3,
    div.paymentComplete_wrapper i,
    div.paymentComplete_btn {
        display: none;
    }


/* PRINT RECEIPT HEADING */
section#printHeading {
    display: block;
    margin-bottom: 0.05in;
}

.receiptLogo {
    padding: 0.1in 0;
    display: flex;
    justify-content: center;
    border-top: 2pt solid #000000;
    border-bottom: 2pt solid #000000;
}

    .receiptLogo img {
        filter: invert(100%);
        width: 30%;
        position: relative;
    }

.receiptAddress address {
    text-align: center;
    font-size: 13pt;
    line-height: 0.25in;
}

.receiptAddress p {
    margin-top: 0.1in;
    margin-bottom: 0.05in;
    font-weight: bold;
    font-size: 18pt;
}

.receiptAddress a {
    color: #000000
}

div.paymentComplete_receiptDetails {
    width: 100%;
    border-top: 0.1pt solid rgb(0,0,0,0.3);
    padding: 5pt 0;
}

div.formPage, div.formPage div.formContent {
    padding: 0;
}

div.formContent div.paymentComplete_receiptNoTransDatetime {
    margin-bottom: 0.3in;
}

div.paymentComplete_receiptNoTransDatetime p {
    font-size: 14pt;
}

div.paymentComplete_receiptRow .labelEnrolReceipt {
    font-size: 15pt;
}

div.paymentComplete_receiptDetails div.paymentComplete_receiptRow {
    padding: 0.2in 0;
}

div .receiptSubtotalTax {
    border-top: 1pt solid rgb(0,0,0,0.4);
    border-bottom: 3pt double rgb(0,0,0,0.4);
}

div.receiptGrandTotal .labelEnrolReceipt {
    font-size: 18pt;
}

div.receipt{
    position: relative;
    padding-bottom: 0.2in;
}

    div.receipt:after {
        position: absolute;
        content: 'Thank you for enrolling in the course!';
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: 10pt;
        font-style: italic;
        color: rgb(0,0,0,0.6);
        padding: 0.1in 0;
    }